.header-main-image{
    height: 496px;
}

.header{
    position: relative;
}
.text-hide{
    
    position: absolute;
    top: 40px;right: 40px;
}
.list-group-item{
    color: #3F5D45;
}

.page-link{
    color: #3F5D45;
}
